.modal {
  display: block;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.model-wrapper {
  margin: auto;
  display: flex;
  position: relative;
  background: #fafafa;
  padding: 42px;
  border-radius: 8px;
  border: 1px solid #eaeaeb;
}
.modal-content {
  max-width: 779px;
  width: 100%;
  border: 0;
  margin: auto;
  position: relative;
  z-index: 1;
}

.modal form {
  height: 100%;
  display: flex;
  overflow-y: auto;
}

.modal-content .modal-image {
  max-width: 150px;
  height: auto;
  width: 100%;
  vertical-align: middle;
}

.modal-content .image {
  text-align: center;
  padding: 0 15px;
}

.modal-content h2 {
  font-size: 15px;
  text-align: center;
  margin: 25px 0;
  padding-bottom: 25px;
  letter-spacing: 0;
  border-bottom: 2px solid #eaeaeb;
}
.form-group-wrap {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  margin-bottom: 25px;
}
.modal-content .form-group {
  background: #fdffff;
  border: 2px solid #eaeaeb;
  border-radius: 8px;
  padding: 10px 14px;
  flex: 1;
}
.modal-content label.form-label {
  width: 100%;
  display: block;
  font-size: 12px;
  font-weight: var(--font-heading-weight);
  letter-spacing: 0;
  line-height: 1.667;
  margin-bottom: 3px;
  color: #000;
}
.modal-content .form-input {
  padding: 0;
  margin: 0;
  border: 0;
  color: #898989;
  font-size: 15px;
  font-family: var(--font-body-family);
  width: 100%;
  outline: 0;
  box-shadow: none;
  border-radius: 5px;
  appearance: none;
}
.modal-content .check_box {
  text-align: center;
}
.modal-content .check_box input[type="checkbox"] {
  position: relative;
  width: 18px;
  height: 18px;
  border: 0;
  outline: 0;
  margin: 0 7px 0 0;
  box-shadow: none;
  appearance: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-progress-appearance: none;
}
.modal-content .check_box label + input[type="checkbox"] {
  margin-left: 11px;
}
.modal-content .check_box input[type="checkbox"]:before {
  content: "";
  border: 2px solid #eaeaeb;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  transition: all 0.2s ease;
}
.modal-content .check_box input[type="checkbox"]:after {
  content: "";
  position: absolute;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="9" viewBox="0 0 10 9" fill="none"><path d="M8.64273 0.999878L4.51242 7.21465C4.38993 7.39896 4.12929 7.42475 3.97305 7.26803L0.999878 4.28559" stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-size: 100%;
  width: 8px;
  height: 7px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.2s ease;
}
.modal-content .check_box input[type="checkbox"]:checked:after {
  opacity: 1;
}
.modal-content .check_box label {
  font-size: 12px;
  line-height: 1.667;
  display: inline-block;
  color: #303030;
  font-weight: 500;
}
.modal-content .btn_confirm {
  font-size: 15px;
  line-height: 1.2;
  background: #6f0726;
  border: 1px solid #6f0726;
  color: #fff;
  width: 100%;
  padding: 15px 16px;
  box-shadow: none;
  display: inline-block;
  border-radius: 8px;
  margin-top: 25px;
  cursor: pointer;
  font-weight: 550;
  font-family: var(--font-heading-weight);
  transition: all 0.2s ease;
}
.modal-content .btn_confirm:hover {
  background: #fff;
  color: #6f0726;
}
.model-wrapper {
  margin: 0 auto;
  display: flex;
  position: relative;
  max-width: 779px;
  width: 100%;
}
.modal-content .check_box input[type="checkbox"]:checked:before {
  background: #39ae68;
  border: #39ae68;
}
.model-wrapper {
  margin: auto;
  display: flex;
  position: relative;
}
.model-wrapper #closePopup {
  position: absolute;
  right: 5px;
  top: 5px;
  border: 0;
  width: 40px;
  height: 40px;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
}
.model-wrapper #closePopup svg {
  width: 14px;
  height: 14px;
  vertical-align: middle;
  transition: all 0.2s ease;
}
.model-wrapper #closePopup:hover svg {
  transform: rotate(90deg);
}
.model-wrapper #closePopup:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.click-order button {
  font-size: 12px;
  line-height: 1.2;
  background: linear-gradient(180deg, #d50d49 0%, #740822 100%);
  border: 0;
  color: #fff;
  width: 100%;
  padding: 10px;
  box-shadow: none;
  display: inline-block;
  border-radius: 30px;
  margin-top: 25px;
  cursor: pointer;
  font-weight: 550;
  font-family: var(--font-heading-weight);
  transition: all 0.2s ease;
}
.click-order button:hover {
  opacity: 0.9;
}
.click-order {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  gap: 4px;
}
.click-order a {
  text-decoration: none;
  background: #f2f5f4;
  padding: 2px 15px;
  color: currentColor;
  border-radius: 30px;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 600;
}
.powered_by {
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  line-height: 1;
}

.powered_by svg {
  width: 13px;
  height: auto;
}

.powered_by b {
  font-weight: 900;
  color: #303030;
  letter-spacing: 0;
}

.powered_by span {
  display: flex;
  gap: 6px;
  font-weight: 600;
  align-items: flex-end;
  color: #898989;
  letter-spacing: 0;
}

.powered_by span span {
  gap: 4px;
}
@media (max-width: 749px) {
  .model-wrapper {
    padding: 22px;
  }
  .form-group-wrap {
    flex-direction: column;
    row-gap: 15px;
    column-gap: 15px;
    margin-bottom: 20px;
  }
  .modal-content h2 {
    margin: 20px 0;
    padding-bottom: 20px;
  }
  .modal-content .btn_confirm {
    margin-top: 20px;
  }
  .modal-content .form-input {
    font-size: 14px;
  }
  .powered_by {
    margin-top: 20px;
  }
}
.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
  display: none;
}

.iti {
  width: 100%;
}
.iti__flag {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/img/flags.png");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/img/flags@2x.png");
  }
}
